# CODEOWNERS file for branch-specific approvers with organization prefix

# Apply to all files in the dev branch
/dev/* @allegedlytcg/dev-approvers

# Apply to all files in the qa branch
/qa/* @allegedlytcg/qa-approvers

# Apply to all files in the main branch
/main/* @allegedlytcg/release-approvers
